DATABASE_URL=postgresql://urbanleads:urbanleads_dev@localhost:5435/urbanleads
JWT_SECRET=FKIoGNN+v8YQ83x0C2v8t3ci3q6CusABBjTa7KJqs8s=
PAYSTACK_SECRET_KEY=sk_live_a5c69eb20aec8b812af0d1d3c7c20173de8728cb
PORT=3001
FRONTEND_URL=http://localhost:3000
